.favourites-preview {
    @include flex-center;
    flex-direction: column;
    background-color: $main-light-color;
    color: #3385b6;
    padding: 0.5rem;
    gap: 0.5rem;
    font-family: Poppins regular;
    text-align: center;
    border-radius: 15px;
    min-height: 14rem;

    &.dark-mode {
        background-color: #0a111c;
        color: $main-light-color;
    }

    .favourites-preview-name {
        font-size: 1.4rem;
        font-family: Poppins medium;

        @include for-desktop {
            font-size: 1.2rem;
        }
        @include for-large-desktop {
            font-size: 1.5rem;
        }
    }
    .favourites-preview-temp {
        font-size: 1.2rem;
    }
}
