.favourite-list {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    grid-template-rows: auto;
    min-height: 30rem;
    border-radius: 30px;
    padding: 2rem;
    gap: 3rem;
    margin: 1rem auto;
    background: linear-gradient(109.94deg, rgba(48, 131, 220, 0.86) 1.07%, #7ede92 99.36%);

    @include for-large-tablet {
        margin: 2rem auto;
    }

    @include for-large-desktop {
        margin: 3rem auto;
    }
}
