.today-weather {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 90%;
    // justify-content: space-around;
    margin-top: 1rem;
    // padding: 0 4rem;
    align-self: center;
    font-family: Poppins regular;

    .current-day {
        font-size: 1.6rem;
        flex: 1;
        // @include flex-center;
        // text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: Poppins medium;

        & h3 {
            text-align: left;
        }

        .current-city {
            font-family: Poppins regular;
            font-size: 1.5rem;
        }
    }

    & img {
        // width: 100%;
        height: 150px;
    }

    .current-weather-icon {
        @include flex-center;
        flex-direction: column;
        font-size: 1.4rem;
        flex: 1;
    }

    .current-degrees {
        // @include flex-center;
        display: flex;
        justify-content: flex-end;
        font-size: 6rem;
        flex: 1;

        & h4 {
            align-self: flex-end;
        }
    }
}
