.weather-top-bar {
    width: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include for-large-phone {
        width: 90%;
    }

    .city-search {
        width: 15rem;
        // height: 2.7rem;
        padding: 0.5rem 1rem;
        outline: none;
        border: none;
        border-radius: 10px;
        font-size: 1.3rem;
        position: relative;

        @include for-large-phone {
            width: 18rem;
        }

        @include for-large-tablet {
            width: 22rem;
        }
    }

    .search-list {
        position: absolute;
        width: 15rem;
        background-color: #fff;
        border-radius: 0 0 10px 10px;
        color: #292929;
        padding: 0.5rem 0;
        font-size: 0.9rem;
        z-index: 100;
        border-top: 1px solid #292929;
        font-family: Poppins regular;

        @include for-large-phone {
            width: 18rem;
        }

        @include for-large-tablet {
            width: 22rem;
            font-size: 1.1rem;
        }

        & li {
            padding: 0.5rem 1rem;

            &:hover {
                background-color: rgb(235, 235, 235);
                cursor: pointer;
            }
        }
    }

    .search-city-input {
        color: black;
        width: 20rem;
        font-family: Poppins regular;
    }

    .icon-container {
        @include flex-center;
    }

    .favourite-icon {
        font-size: 2rem;
        transition: all 0.5s;
        &:hover {
            cursor: pointer;
            color: rgb(235, 76, 76);
        }
    }

    .on-focus {
        border-radius: 10px 10px 0 0;
    }
}
