.weekly-weather {
    width: 100%;
    align-self: center;
    margin-top: 1rem;
    background: #f0eeee;
    box-shadow: 0px 0px 60px 4px rgba(27, 27, 27, 0.15);
    border-radius: 20px;
    padding: 1rem;
    font-family: Poppins regular;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;

    @include for-large-phone {
        width: 90%;
    }

    @include for-tablet {
        margin-top: 2rem;
        // margin-bottom: 1rem;
        // padding: 1.5rem;
    }

    @include for-desktop {
        min-height: 12rem;
    }

    @include for-large-desktop {
        margin-top: 4rem;
        margin-bottom: 2rem;
        padding: 2rem;
    }

    & h2 {
        font-size: 1.5rem;
        color: #135d89;
        font-family: Poppins medium;

        @include for-tablet {
            font-size: 2rem;
        }
    }

    .weekly-weather-preview-container {
        display: flex;
        align-self: center;
        justify-content: space-between;
        // width: 100%;
        // gap: 4rem;

        & img {
            width: 65px;

            @include for-large-phone {
                width: 75px;
            }

            @include for-large-tablet {
                width: 120px;
            }
        }

        @include for-large-phone {
            width: 100%;
        }

        @include for-large-tablet {
            justify-content: space-around;
        }
    }
}
