@font-face {
    font-family: Kalam regular;
    src: url("../../assets/fonts/kalam/Kalam-Regular.ttf");
}
@font-face {
    font-family: Kalam light;
    src: url("../../assets/fonts/kalam/Kalam-Light.ttf");
}
@font-face {
    font-family: Poppins regular;
    src: url("../../assets/fonts/poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: Poppins medium;
    src: url("../../assets/fonts/poppins/Poppins-Medium.ttf");
}
@font-face {
    font-family: Poppins bold;
    src: url("../../assets/fonts/poppins/Poppins-Bold.ttf");
}
