.weather-content-container {
    width: 100%;
    background: linear-gradient(109.94deg, rgba(48, 131, 220, 0.86) 1.07%, #7ede92 99.36%);
    border-radius: 20px;
    padding: 1rem;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;

    @include for-desktop {
        padding: 2rem;
    }

    @include for-large-tablet {
        margin: 2rem auto;
    }

    @include for-large-desktop {
        margin: 3rem auto;
    }

    &.dark-mode {
        background-image: linear-gradient(to right, #141e30, #243b55);
    }
}
